.container {
    max-width: 1200px;
    min-height: 50vh;
    margin: 0 auto;
}

.section_title {
    color: var(--color-1);
    margin: 40px 0 20px;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--color-8);
    font-size: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    margin-bottom: 2rem;
}

  
.highlight {
    color: var(--color-3);
    font-weight: 600;
  }

.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    font-size: 1.1rem;
    text-align: start;
    color: var(--color-8);
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
}

.point {
    margin-bottom: 15px;
    padding: 15px;
    background-color: var(--color-6);
    border-left: 4px solid #3498db;
    border-radius: 5px;
}

.point p {
    text-align: start;
}


.card a {
    text-decoration: none;
    color: var(--color-8);
  }
  
  .card a:hover {
    color: var(--color-1);
    text-decoration: underline;
  }

  .point li {
    list-style-type: none;
  }

@media (max-width: 768px) {
    .container {
        padding: 0 2rem;
    }

    .section_title {
        font-size: 24px;
    }
    
    .grid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}