.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section_title {
    color: #2c3e50;
    margin: 40px 0 20px;
    padding-bottom: 10px;
    border-bottom: 3px solid #3498db;
    font-size: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    margin-bottom: 2rem;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    font-size: 1.2rem;
    text-align: start;
    color: #3498db;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
}

.point {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #f9f9f9;
    border-left: 4px solid #3498db;
    border-radius: 5px;
}

.point p {
    text-align: start;
}

.contact_info {
    color: #2c3e50;
    line-height: 1.6;
    text-align: start;
}

.contact_info a {
    color: #2c3e50;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact_info a:hover {
    color: blue;
    text-decoration: underline;
}

.card a {
    text-decoration: none;
    color: var(--secondary-color);
  }
  
  .card a:hover {
    text-decoration: underline;
  }

@media (max-width: 768px) {
    .container {
        padding: 0 2rem;
    }

    .section_title {
        font-size: 24px;
    }
    
    .grid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}