.contact {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0 auto 30vh auto;
}

.section_title {
    color: var(--color-1);
    margin: 40px 0 20px;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--color-8);
    font-size: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    margin-bottom: 2rem;
}

.contact_info {
    font-size: 1.1rem;
    color: var(--color-5);
    line-height: 1.6;
}


@media (max-width: 768px) {
    .container {
        padding: 0 2rem;
    }

    .contact h1 {
        font-size: 24px;
    }

    .section_title {
        font-size: 24px;
    }
    
    .grid {
        grid-template-columns: 1fr;
    }

    .contact_info p {
        text-align: center;
    }
}