:root {
  --primary-color: #386641;
  --secondary-color: #6A994E;
  --accent-color: #A7C957;
  --light-bg: #F2E8CF;
  --dark-text: #BC4749;
}

.animatedSection {
  width: 100%;
}

@media (max-width: 768px) {
  .animatedSection {
    transform: none !important;
    opacity: 1 !important;
    transition: none !important;
  }
}