:root {
  --color-1: #002147; /* navbar, footer, heading */
  --color-2: #FFFFFF; /* text color */
  --color-3: #FF6B00; /* button color, text hover, highlight color */
  --color-4: #CC5700; /* button hover color */
  --color-5: #333333; /* body text color */
  --color-6: #E6F0FA;  /* div background color */
  --color-7: #FFEDD5; /* div background color */
  --color-8: #3498db; /* sub heading */
  --color-9: #2c3e50; /* staffs */
  --color-10: #666; /* designation */
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-6);
}

.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.5px;
  background: linear-gradient(to right, var(--color-2), var(--color-3));
  transform-origin: 0%;
  z-index: 999;
}