.college_container {
    display: flex;
    background-color: var(--color-2);
}

.college_image, .about_college {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px;
    text-align: center;
}

.college_image {
    height: 400px;
}

.college_image img {
    max-width: 80%;
    height: 100%;
    border-radius: 20px;
    margin-bottom: 0;
    box-shadow: 5px 5px 10px rgba(0, 33, 71, 0.25);
}

.about_college h1 {
    font-size: 30px;
    color: var(--color-1);
    margin-bottom: 1rem;
}

.about_college p {
    font-size: 16px;
    color: var(--color-5);
    line-height: 2rem;
    text-align: start;
}

.courses_container {
    display: flex;
    justify-content: space-around;
    margin: 3rem 2rem;
    background-color: var(--color-2);
    padding: 2rem;
    border-radius: 20px;
    width: 95%;
  }

  @media (min-width: 768px) and (max-width: 1200px) {
    .courses_container {
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
        margin: 1rem auto;
        padding: 2rem;
        gap: 2rem;
      }
      
    .college_container {
        flex-direction: column;
    }

    .college_container, .about_college, .college_image {
        width: 100%;
        align-items: center;
    }

    .college_image {
        height: 200px;
        margin-top: 1rem;
        padding: 0;
    }

    .college_image img {
        max-width: 95%;
        width: 100%;
        height: 16rem;
    }

    .about_college h1 {
        font-size: 24px;
        margin-top: 2rem;
    }
  }

@media (max-width: 767px) {
    .courses_container {
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
        margin: 1rem auto;
        padding: 2rem;
        gap: 2rem;
      }
      
    .college_container {
        flex-direction: column;
    }

    .college_container, .about_college, .college_image {
        width: 100%;
        align-items: center;
    }

    .college_image {
        height: 200px;
        margin-top: 1rem;
        padding: 0;
    }

    .college_image img {
        max-width: 90%;
    }

    .about_college h1 {
        font-size: 24px;
    }
}