.college_container {
    display: flex;
}

.college_image, .about_college {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px;
    text-align: center;
}

.college_image {
    height: 400px;
}

.college_image img {
    max-width: 80%;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 0;
}

.about_college h1 {
    font-size: 30px;
    color: orangered;
    margin-bottom: 1rem;
}

.about_college p {
    font-size: 16px;
    color: rgb(2, 2, 46);
    line-height: 2rem;
    text-align: start;
}

@media (max-width: 768px) {
    .college_container {
        flex-direction: column;
    }

    .college_container, .about_college, .college_image {
        width: 100%;
        align-items: center;
    }

    .college_image {
        height: 200px;
        margin-top: 1rem;
        padding: 0;
    }

    .about_college h1 {
        font-size: 24px;
    }

    .about_college p {
        line-height: 1.5rem;
    }
}