.courses_container {
  display: flex;
  justify-content: space-between;
  margin: 3rem 10rem;
}

.our_courses {
  text-align: center;
  padding-bottom: 60px;
  margin-top: 50px;
}

.title h1 {
  color: var(--color-1);
  font-size: 30px;
}

.title p {
  color: var(--color-5);
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 2rem;
}

.course {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 2rem;
}

.course p {
  line-height: 2rem;
}

.course h2 {
  font-size: 24px !important;
}

.course img {
  width: 65px;
  height: 65px;
  margin-bottom: 1rem;
}

.course1,
.course2,
.course3 {
  width: 30%;
  font-size: 16px;
  line-height: 2rem;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 33, 71, 0.25);
}

.course1 {
  background-color: var(--color-1);
  color: var(--color-2);
  margin-left: 20px;
}

.course2 {
  background-color: var(--color-2);
  color: var(--color-5);
  margin-right: 20px;
  margin-left: 20px;
}

.course3 {
  background-color: var(--color-1);
  color: var(--color-2);
  margin-right: 20px;
}

.course2 img {
  filter: brightness(0) saturate(100%) invert(10%) sepia(32%) saturate(4611%) hue-rotate(195deg) brightness(97%) contrast(105%);
}

.course1 img,
.course3 img {
  filter: invert(95%) sepia(100%) saturate(0%) hue-rotate(313deg) brightness(102%) contrast(102%);
}

@media (max-width: 768px) {
  .courses_container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem 1rem 2rem 1rem;
    gap: 2rem 0;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .our_courses {
    margin: 0 2rem;
  }

  .title {
    margin: 0 10px;
  }

  .title h1 {
    color: var(--color-1);
    margin-bottom: 0.5rem;
    font-size: 24px;
  }

  .course {
    flex-direction: column;
    margin-top: 1rem;
    gap: 2rem;
  }

  .course1,
  .course2,
  .course3 {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 30px 20px;
    line-height: 1.5rem;
    border-radius: 20px;
  }
}

@media (max-width: 767px) {
  .courses_container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem 1rem 2rem 1rem;
    gap: 2rem 0;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .our_courses {
    margin-top: 0;
    padding-bottom: 1rem;
  }

  .our_courses p {
    text-align: start;
  }

  .title {
    margin: 0 10px;
  }

  .title h1 {
    color: var(--color-1);
    margin-bottom: 0.5rem;
    font-size: 24px;
  }

  .course {
    flex-direction: column;
    margin-top: 1rem;
    gap: 2rem;
  }

  .course1,
  .course2,
  .course3 {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 30px 20px;
    line-height: 1.5rem;
    border-radius: 20px;
  }
}
