.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-1);
  color: var(--color-2);
  font-size: 0.9rem;
  padding: 0.5rem 0;
  border-top: 1px solid rgb(100, 100, 100);
  gap: 0.3rem;
}

.copyright a {
  text-decoration: none;
  color: white;
  &:hover {
    color: var(--color-3);
    transition: all 0.3s ease;
  }
}

.supportLink {
  cursor: pointer;
}

.supportLink:hover {
  color: var(--color-3);
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .copyright {
    flex-direction: column;
  }
}