* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

* p {
  margin-bottom: 0 !important;
}

* h1, h2 {
  font-weight: bold !important;
}

.info {
  background-color: var(--primary-color);
  color: var(--light-bg);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgb(100, 100, 100);
}

.contact {
  display: flex;
  gap: 2rem;
  font-size: 14px;
}

.contact p a {
  color: var(--light-bg);
  text-decoration: none;
}

.contact p a:hover {
  color: white;
}

.contact p {
  margin-bottom: 0 !important;
}

.email, .phone {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button {
  background-color: var(--secondary-color);
  color: var(--light-bg);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;

  font-size: 14px;
  line-height: normal;
  font-family: sans-serif;

  &:hover {
    background-color: var(--light-bg);
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
  }
}

.logo {
  margin-top: 0.2rem;
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  .info {
    flex-direction: column;
    padding: 1rem;
  }

  .contact {
    font-size: 0.9rem;
    flex-direction: column;
    gap: 1rem;
  }

  .button {
    margin-top: 0.5rem;
    gap: 0.5rem;
  }
}

@media (max-width: 480px) {
  .info {
    padding: 0.5rem;
  }

  .contact {
    gap: 0.5rem;
  }

  button {
    padding: 0.5rem;
    width: 100%;
  }
}