.dropdown-toggle::after {
  margin-left: 0.5rem !important;
}

.dropdown-item {
  text-align: start !important;
}

.dropdown-menu {
  width: 16.5rem;
}

.container-fluid button:hover {
  background-color: transparent !important;
}

.container-fluid button[aria-expanded="true"] {
  background-color: orangered !important;
}

.bg-body-tertiary {
  background-color: rgb(2, 2, 46) !important;
}

.bg-body-tertiary a {
  color: white !important;
  &:hover {
    color: orangered !important;
  }
}

.dropdown-menu {
  background-color: rgb(2, 2, 46) !important;
  padding: 0;
  overflow: hidden;
}

.dropdown-menu a {
  color: white !important;
  &:hover {
    color: rgb(2, 2, 46) !important;
  }
}

.navbar {
  padding: 0 !important;
}

.navbar-expand-lg .navbar-nav .dropdown-menu a {
  color: rgb(2, 2, 46);
  padding: 0.6rem 0.5rem;
}

.navbar-expand-lg .navbar-nav .dropdown-menu a:hover {
  background-color: orangered;
}

.navbar-toggler-icon {
  filter: invert(86%) sepia(100%) saturate(4%) hue-rotate(291deg)
    brightness(113%) contrast(100%);
}

.navbar-brand {
  margin-left: 3.5rem !important;
  margin-bottom: 0rem !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .navbar>.container-fluid {
    flex-direction: column;
  }

  .navbar-nav {
    gap: 0 !important;
    padding-right: 0 !important;
  }
}

@media (min-width: 992px) {
  .dropdown-toggle::after {
    display: none !important;
  }

  .dropdown {
    &:hover > .dropdown-menu {
      display: block;
      animation: fadeIn 0.3s;
    }
  }

  .dropdown.navigating {
    &:hover > .dropdown-menu {
      display: none;
    }
  }

  .navbar-nav {
    padding-right: 2rem;
    gap: 0.5rem;
  }

  .dropdown-menu {
    width: auto;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu a {
    padding: 0.6rem 1rem !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    margin-left: 0.5rem !important;
    margin-bottom: 0.3rem !important;
  }

  .dropdown-menu a {
    background-color: orangered;
    color: rgb(2, 2, 46) !important;
  }

  .dropdown-menu a:hover {
    background-color: orangered !important;
    color: white !important;
  }

  .container-fluid {
    padding-left: calc(var(--bs-gutter-x)* .9);
  }

  .navbar-collapse {
    animation: slideDown 0.3s ease;
  }

  .dropdown-menu {
    display: none;
    border: none !important;
    padding: 0 !important;
  }

  .dropdown-menu.show {
    display: block;
    animation: slideDown 0.3s ease;
  }

  .nav-link.dropdown-toggle[aria-expanded="true"] {
    color: orangered !important;
  }

  .dropdown-menu a {
    padding-left: 1rem !important;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu a {
    padding: 0.5rem 0;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media (max-width: 480px) {
  button {
    width: auto;
  }

  .dropdown-menu a {
    background-color: orangered;
    color: rgb(2, 2, 46) !important;
  }

  .dropdown-menu a:hover {
    background-color: orangered !important;
    color: white !important;
  }
}
