.div {
  display: flex;
  background-color: var(--color-2);
}

.offers {
  width: 300%;
  padding: 5rem 7rem;
}

.offer_head h1 {
  color: var(--color-1);
  font-size: 30px;
}

.offer_head p {
  color: var(--color-5);
}

.offers_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offers_container p {
  padding: 0 1rem;
}

.box {
  text-align: center;
  align-items: center;
  flex: 1 1 300px;
  margin: 10px;
}

.box h2 {
  font-size: 26px;
}

.offer_head p,
.box p,
.principal-desk p {
  font-size: 16px;
  text-align: start;
}

.box img {
  width: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.box p,
.box h2 {
  color: var(--color-3);
}

.box_2 h2,
.box_3 h2,
.box_6 h2 {
  color: var(--color-1);
}

.box_2 p,
.box_3 p,
.box_6 p {
  color: var(--color-5);
}

.box_2 img,
.box_3 img,
.box_6 img {
  filter: brightness(0) saturate(100%) invert(6%) sepia(94%) saturate(3338%)
    hue-rotate(200deg) brightness(98%) contrast(102%);
}

.box_1 img,
.box_4 img,
.box_5 img {
  filter: brightness(0) saturate(100%) invert(69%) sepia(76%) saturate(6406%)
    hue-rotate(4deg) brightness(106%) contrast(103%);
}

.principal_desk {
  background-color: var(--color-1);
  color: var(--color-2);
  display: flex;
  /* border-radius: 50% 0 0 50%; */
  border-radius: 20px 0 0 20px;
  box-shadow: -5px 0 10px rgba(0, 33, 71, 0.6);
}

.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.principal .image {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 50%;
  height: auto;
}

.principal .image img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  overflow: hidden;
}

.about_principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_principal h1 {
  font-size: 30px;
  color: var(--color-2);
}

.principal button {
  margin-top: 4.2rem;
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--color-3);
  color: var(--color-2);
  border: none;
  border-radius: 10px;
  transition: 0.3s ease;
  cursor: pointer;
}

.principal button:hover {
  background-color: var(--color-4);
  color: var(--color-2);
}

.offers,
.principal_desk p {
  line-height: 2rem;
  margin: 0.5rem 2rem;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .offers_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .offers {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .offer_head {
    margin: 1rem 1rem 0 2rem;
  }

  .offer_head h1,
  .offers_container h2 {
    font-size: 24px;
  }

  .box p,
  .box h2 {
    color: var(--color-3);
  }

  .box_2 h2,
  .box_3 h2,
  .box_6 h2 {
    color: var(--color-1);
  }

  .box_2 p,
  .box_3 p,
  .box_6 p {
    color: var(--color-5);
  }

  .box_2 img,
  .box_3 img,
  .box_6 img {
    filter: brightness(0) saturate(100%) invert(6%) sepia(94%) saturate(3338%)
      hue-rotate(200deg) brightness(98%) contrast(102%);
  }

  .box_1 img,
  .box_4 img,
  .box_5 img {
    filter: brightness(0) saturate(100%) invert(69%) sepia(76%) saturate(6406%)
      hue-rotate(4deg) brightness(106%) contrast(103%);
  }

  .principal_desk {
    border-radius: 10px;
    margin: 2rem 1rem;
  }

  .about_principal h1 {
    font-size: 24px;
  }

  .principal button {
    margin-bottom: 1rem;
  }

  .principal_desk p {
    line-height: 2rem;
    margin: 0.5rem 1rem;
  }
}

@media (max-width: 767px) {
  .div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .offers {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .offer_head {
    margin: 1rem 1rem 0 2rem;
  }

  .offer_head h1,
  .offers_container h2 {
    font-size: 24px;
  }

  .box_1 h2,
  .box_3 h2,
  .box_5 h2 {
    color: var(--color-3);
  }

  .box_1 p,
  .box_3 p,
  .box_5 p {
    color: var(--color-3);
  }

  .box_1 img,
  .box_3 img,
  .box_5 img {
    filter: brightness(0) saturate(100%) invert(69%) sepia(76%) saturate(6406%)
      hue-rotate(4deg) brightness(106%) contrast(103%);
  }

  .box_2 h2,
  .box_4 h2,
  .box_6 h2 {
    color: var(--color-1);
  }

  .box_2 p,
  .box_4 p,
  .box_6 p {
    color: var(--color-5);
  }

  .box_2 img,
  .box_4 img,
  .box_6 img {
    filter: brightness(0) saturate(100%) invert(6%) sepia(94%) saturate(3338%)
      hue-rotate(200deg) brightness(98%) contrast(102%);
  }

  .principal_desk {
    border-radius: 10px;
    margin: 2rem 1rem;
  }

  .about_principal h1 {
    font-size: 24px;
  }

  .principal button {
    margin-bottom: 1rem;
  }

  .principal_desk p {
    line-height: 2rem;
    margin: 0.5rem 1rem;
  }
}
