.teachers_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teachers_heading h1 {
    color: var(--color-1);
    font-size: 30px;
}

.teachers_heading p {
    color: var(--color-1);
    line-height: 2rem;
}

.teachers_list {
    display: flex;
    justify-content: space-evenly;
}

.teachers {
    background-color: var(--color-1);
    color: var(--color-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23%;
    height: 360px;
    margin-top: 2rem;
    border-radius: 20px;
    box-shadow: 10px 0 10px rgba(0, 33, 71, 0.25);
}

.color {
    background-color: var(--color-2);
    color: var(--color-1);
}

@media (min-width: 768px) and (max-width: 1200px) {
    .teachers_heading h1 {
        font-size: 24px;
    }
    .teachers_list {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
    .teachers {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .max_width {
        background-color: orangered;
        color: rgb(2, 2, 46);
    }

    .min_width {
        background-color: rgb(2, 2, 46);
        color: orangered;
    }
}

@media (max-width: 767px) {
    .teachers_heading h1 {
        font-size: 24px;
    }

    .teachers_heading p {
        font-size: 16px;
        text-align: center;
        margin: 0 1rem 2rem 1rem;
    }

    .teachers_list {
        display: flex;
        flex-direction: column;
    }
    
    .teachers {
        width: 100%;
        margin: 0;
        height: auto;
    }
}