.college-container {
    display: flex;
}

.college-image, .about-college {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px;
    text-align: center;
}

.college-image {
    height: 400px;
}

.college-image img {
    max-width: 80%;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 0;
}

.about-college h1 {
    font-size: 30px;
    color: orangered;
    margin-bottom: 1rem;
}

.about-college p {
    font-size: 16px;
    color: rgb(2, 2, 46);
    line-height: 2rem;
    text-align: start;
}

@media (max-width: 768px) {
    .college-container {
        flex-direction: column;
    }

    .college-container, .about-college, .college-image {
        width: 100%;
        align-items: center;
    }

    .college-image {
        height: 200px;
        margin-top: 1rem;
        padding: 0;
    }

    .about-college h1 {
        font-size: 24px;
    }
}